html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scroll-behavior: inherit;
}

body {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-width: $mob_min;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $poppins;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  color: $color_text;
}

.body {
  @include tablet {
    overflow: hidden;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

svg {
  fill: currentColor;
}

// Костыль для Swiper
main {
  min-width: 0;
}
