.container {
  position: relative;
  width: auto;
  max-width: $desk_max;
  margin: 0 auto;
  padding: 0 $desk_pads;

  @include tablet {
    width: auto;
    padding: 0 $tab_pads;
  }

  @include mobile {
    min-width: $mob_min;
    width: 100%;
    padding: 0 $mob_pads;
  }
}
