.js-display-block {
  display: block;
  overflow: auto;
}

.js-display-none {
  @include tablet {
    display: none;
  }
}

.js-no-scroll {
  position: fixed;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.js-modal {
  padding: 40px;
}
