.popup {
  position: absolute;
  top: 372px;
  left: 50%;
  z-index: 100;
  width: max-content;
  height: max-content;
  overflow: auto;
  transform: translateX(-50%);
  box-shadow: 0 4px 32px $color-popap-card-shadow;

  @include tablet {
    top: 258px;
  }

  @include mobile {
    top: 117px;
  }
}

.popup--center {
  top: 50%;
  transform: translate(-50%, -50%);
}

.popup__close-btn {
  position: absolute;
  top: 9px;
  right: 10px;
  z-index: 100;
}
