.popup {
  position: absolute;
  top: 332px;
  left: 50%;
  z-index: 100;
  width: max-content;
  height: max-content;
  overflow: auto;
  transform: translateX(-50%);

  @include tablet {
    top: 218px;
  }

  @include mobile {
    top: 77px;
  }
}

.popup--center {
  top: 50%;
  transform: translate(-50%, -50%);
}

.popup__close-btn {
  position: absolute;
  top: 49px;
  right: 50px;
  z-index: 100;
}
