.accordion {
  display: flex;
  flex-direction: column;
  border-left: 1px solid $color_main;
  border-right: 1px solid $color_main;
}

.accordion__item {
  position: relative;
  min-height: auto;
  padding: 43px 42px 44px;
  text-align: left;
  background-color: transparent;
  border: 0 none;
  border-bottom: 1px solid $color_main;
  cursor: pointer;

  &:first-child {
    padding-top: 43px;
    padding-bottom: 41px;
    border-top: 1px solid $color_main;
  }

  &:hover h3,
  &:focus h3 {
    color: $color_main;
    transition: 0.3s ease-in-out;
    outline: 0 none;
  }

  @include tablet {
    min-height: 83px;
    padding: 43px 45px 44px 49px;

    &:first-child {
      padding-bottom: 44px;
    }
  }

  @include mobile {
    min-height: 82px;
    padding: 11px 20px 11px 24px;

    &:first-child {
      padding-top: 15px;
      padding-bottom: 11px;
    }
  }
}

.accordion__item h3 {
  @include typography (18, 23);

  margin: 0;
  font-weight: 500;
  text-align: left;
  color: $color_text;

  @include tablet {
    max-width: none;
  }

  @include mobile {
    @include typography (16, 22);

    max-width: none;
    padding-right: 34px;
  }
}

.accordion__item p {
  @include typography (16, 21);

  max-width: 59.616%;
  margin: 0;
  margin-top: 8px;
  padding-left: 7px;
  font-weight: 400;
  text-align: left;
  color: $color_text;

  @include tablet {
    max-width: 90.722%;
    margin-top: 26px;
    padding-left: 0;
  }

  @include mobile {
    @include typography (14, 20);

    max-width: none;
    margin-top: 15px;
    margin-bottom: 8px;
    padding-right: 34px;
    padding-left: 0;
  }
}

.accordion__item p,
.accordion__item > div {
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
}

.accordion__item--shown p,
.accordion__item--shown > div {
  position: static;
  display: block;
  height: max-content;
  visibility: visible;
  overflow: none;
  opacity: 1;
  transition: all .5s ease-out;
}

.accordion__item > div {
  margin-top: 15px;

  @include tablet {
    margin-top: 23px;
  }
}

.accordion__item:last-of-type > div {
  @include tablet {
    margin-top: 30px;
  }

  @include mobile {
    margin-left: -10px;
    margin-right: -10px;
  }
}

.accordion__item--shown {
  height: max-content;
}

.accordion__item::after {
  @include pseudo;

  top: 50px;
  right: 48px;
  z-index: -1;
  width: 17px;
  height: 10px;
  background-image: url("../img/accordion-arrow.svg");
  background-repeat: no-repeat;
  background-size: 17px 10px;
  background-position: 50%;
  transition: all 0.5s ease-out;
  transform: rotate(-180deg);
  cursor: pointer;

  @include tablet {
    top: 48px;
    width: 25px;
    height: 14px;
    background-size: 25px 14px;
  }

  @include mobile {
    top: 24px;
    right: 24px;
    width: 20px;
    height: 10px;
    background-size: 22px 12px;
  }
}

.accordion__item--shown::after {
  display: block;
  transform: rotate(0deg);
  transition: all 0.5s ease-out;
}

// catalog page - filter
.accordion--mini {
  --side_padding: 30px;

  @include tablet {
    border: 0 none;
  }
}

.accordion--mini .accordion__item {
  min-height: auto;
  padding: 22px 25px 21px;

  &:last-child {
    padding-bottom: 14px;
  }

  @include tablet {
    position: relative;
    padding: 34px 0 42px;
    border-color: transparent;

    &:last-child {
      padding-bottom: 33px;
    }

    &:first-child {
      padding: 34px 0 29px;
      border-top: 0 none;
    }

    &::before {
      @include pseudo;

      bottom: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color_main;
    }
  }

  @include mobile {
    padding: 23px 0 33px;

    &:first-child {
      padding: 24px 0 20px;
    }

    &:last-child {
      padding-bottom: 24px;
    }

    &::before {
      bottom: 0;
    }
  }
}

.accordion--mini .accordion__item::after {
  top: 28px;
  right: 23px;

  @include tablet {
    top: 39px;
    right: 47px;
  }

  @include mobile {
    top: 31px;
    right: 20px;
  }
}

.accordion--mini .accordion__item > div {
  @include tablet {
    padding-left: 32px;
    padding-right: 48px;
  }

  @include mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.accordion--mini p {
  @include typography (14, 18);

  padding-left: 10px;
  padding-bottom: 15px;

  @include tablet {
    padding-bottom: 20px;
  }

  @include mobile {
    padding-bottom: 10px;
  }
}
