.card {
  position: relative;
  display: block;
  min-width: 270px;
  min-height: max-content;
  text-align: center;
  overflow: hidden;
}

.card--slider {
  min-width: 30px;
  max-width: 250px;
  width: max-content;
}

.card__description-wrapper {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 80px;
  margin: 0;
  padding: 21px 0 20px;
  background-color: $white;

  @include tablet {
    min-height: 78px;
    padding: 9px 0 0;
  }

  @include mobile {
    justify-content: flex-start;
    padding: 16px 0 15px;
  }
}

.card--slider .card__description-wrapper {
  min-height: 55px;
  margin: 0;
  padding: 16px 0 12px;

  @include mobile {
    min-height: 75px;
    padding: 15px 0 12px;
  }
}

.card a {
  display: block;
  width: 100%;
  height: 100%;
}

.card h3 {
  @include typography(16, 21);

  margin-top: 0;
  margin-bottom: 6px;
  font-weight: 500;
  color: $color_text;

  @include tablet {
    margin-bottom: 6px;
  }

  @include mobile {
    margin-bottom: 6px;
  }
}

.card p {
  @include typography(14, 18);

  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  color: $color_text;
}

.card__img-wrapper {
  width: 100%;
  height: auto;
  margin: 0;

  @include tablet {
    min-height: 208px;
  }

  @include mobile {
    min-height: auto;
  }
}

.card img {
  min-width: 100%;
  min-height: 100%;
  margin-bottom: 0;

  @include tablet {
    max-height: none;
  }

  @include mobile {
    width: 130px;
    min-width: 100%;
    min-height: 136px;
    max-height: none;
  }
}

.card:hover,
.card:focus-within {
  h3 {
    color: $color_main;
    transition: all 0.7s ease-in-out;
  }

  p {
    color: $color_main;
    transition: all 0.7s ease-in-out;
  }

  img {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }
}

.card:active {
  h3 {
    color: $color_hover;
    transition: all 0.7s ease-in-out;
  }

  p {
    color: $color_hover;
    transition: all 0.7s ease-in-out;
  }
}
