.catalog {
  --controls-wrapper-height: 132px;

  position: relative;
  padding-top: 80px;

  @include tablet {
    padding-top: 50px;
  }

  @include mobile {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  &::after {
    @include pseudo;

    bottom: var(--controls-wrapper-height);
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color_line;

    @include mobile {
      display: none;
    }
  }
}

.catalog__container {
  @include flex(row);

  position: static;
  flex-wrap: nowrap;

  @include tablet {
    flex-direction: column;
  }
}

.catalog__filter-close-btn {
  @include hover-opacity;

  display: none;

  @include tablet {
    position: absolute;
    top: -16px;
    right: -16px;
    display: block;
  }

  @include mobile {
    top: -16px;
    right: -10px;
  }
}

.catalog--no-js .catalog__filter-overlay {
  @include tablet {
    position: static;
    display: block;
    margin-top: 16px;
    margin-bottom: 50px;
    transform: none;
  }

  @include mobile {
    margin-top: 36px;
    margin-bottom: 60px;
  }
}

.catalog--no-js .catalog__filter-wrapper {
  @include tablet {
    position: static;
    margin: 0 auto;
    transform: none;
  }
}

.catalog--no-js .catalog__filter-close-btn {
  @include tablet {
    display: none;
  }
}

.catalog__filter-overlay {
  position: static;
  display: block;
  width: max-content;
  min-width: 250px;
  height: max-content;
  margin-right: 4.274%;
  overflow: unset;

  @include tablet {
    position: fixed;
    display: none;
    top: 0;
    left: 50%;
    min-height: 100%;
    width: 100%;
    min-width: none;
    height: 100%;
    margin-right: 0;
    transform: translateX(-50%);
  }

  @include mobile {
    padding-top: 20px;
  }
}

.catalog__filter-wrapper {
  position: static;
  transform: translate(0, 0);

  @include tablet {
    position: absolute;
    top: 66px;
    left: 50%;
    width: 442px;
    height: max-content;
    transform: translateX(-50%);
    box-shadow: 0 5px 32px $color-filter-shadow;
  }

  @include mobile {
    top: 76px;
    width: 270px;
  }
}

.catalog__wrapper {
  @include flex(row);

  --catalog-offset-margin: 30px;
  justify-content: space-around;
  width: auto;
  margin-left: calc(var(--catalog-offset-margin) / (0 - 2));
  margin-right: calc(var(--catalog-offset-margin) / (0 - 2));

  @include tablet {
    justify-content: space-between;
    min-width: 0;
    max-width: none;
  }

  @include mobile {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

.catalog__item {
  width: calc((100% - 3 * var(--catalog-offset-margin)) / 3);
  min-width: auto;
  margin-bottom: 16px;
  margin-left: calc(var(--catalog-offset-margin) / 2);
  margin-right: calc(var(--catalog-offset-margin) / 2);
  flex-shrink: 1;

  @include tablet {
    margin-bottom: 24px;
    flex-grow: 1;
    flex-shrink: 0;
  }

  @include mobile {
    width: calc((50% - var(--catalog-offset-margin)));
    min-width: 130px;
    margin-right: 30px;
    margin-left: 0;
    margin-bottom: 11px;

    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }
}

.catalog__filter-open-btn {
  display: none;

  @include tablet {
    display: block;
    margin-bottom: 50px;
    margin-left: calc(var(--catalog-offset-margin) / 2);
    margin-right: calc(var(--catalog-offset-margin) / 2);
  }

  @include mobile {
    display: block;
    margin: 0;
    margin-bottom: 40px;
  }
}

.catalog__filter-form {
  position: static;
  width: 250px;
  min-width: 210px;

  @include tablet {
    z-index: 100;
    width: 442px;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
  }

  @include mobile {
    width: 100%;
    margin-right: 0;
    padding-bottom: 30px;
  }
}

.catalog__controls-wrapper {
  position: relative;
  width: 100%;
  height: var(--controls-wrapper-height);
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 36px;
  padding-left: 9px;

  @include mobile {
    height: auto;
    padding: 16px 0 15px 22px;
  }
}

.catalog__btns-wrapper {
  position: absolute;
  top: 46px;
  left: 0;
  right: 0;
  z-index: 5;
  margin: 0 auto;
  transform: translateY(-50%);

  @include flex(row);
  width: 100%;

  @include mobile {
    display: none;
  }
}

.catalog__filter-form .btn {
  @include tablet {
    width: 362px;
    margin-left: 32px;
    margin-right: 48px;
  }

  @include mobile {
    width: 230px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.catalog__btn {
  @include typography (16, 21);
  @include hover-effect($color_main);

  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.catalog__pagination {
  max-width: 200px;
}
